<div id="main-header" class="index unscrolled">
    <a class="logo"></a>
    <nav class="main-nav">
        <ul>
            <li><a href="#">Buscar Inmueble</a></li>
            <li><a href="#">Quienes Somos</a></li>
            <li class="dropdown">
                <a href="#">Zona Clientes ▾</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Propietarios</a></li>
                    <li><a href="#">Arrendatarios</a></li>
                    <li><a href="#">Formularios</a></li>
                </ul>
            </li>
            <li><a href="#">Preguntas Frecuentes</a></li>
        </ul>
    </nav>
</div>



